/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
.typing_s {
    display: block;
    //font-family: monospace;
    border-right: 4px solid;
    width: 12ch;
    white-space: nowrap;
    animation: typing 2s steps(10), blink .5s infinite step-end alternate;
    overflow: hidden;
}

.center-typing-content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    //background: #343f4f;
}

.text {
    color: #fff;
    //font-family: monospace;
    font-size: 40px;
    line-height: 90px;
    font-weight: 400;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.wrapper .static-txt {
    color: #fff;
    font-size: 40px;
    line-height: 90px;
    font-weight: 400;
    //font-family: monospace;
}

.wrapper .dynamic-txts {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    font-family: monospace;
}

.dynamic-txts li {
    list-style: none;
    color: #fc6d6d;
    font-size: 40px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite, blink .5s;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.dynamic-txts li span {
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}

.dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 150%;
    width: 100%;
    background: #121212;
    border-left: 4px solid #fc6d6d;
    // width: 12ch;
    //animation: typing 3s steps(10) infinite;
    //white-space: nowrap;
    animation: typing 3s steps(10) infinite; //, blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    40%,
    60% {
        left: calc(100% + 30px);
    }
    100% {
        left: 0;
    }
    // from {
    //     width: 0;
    // }
    // to {
    //     width: 100;
    // }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.wrapper .static-txt_m {
    color: #fff;
    font-size: 18px;
    line-height: 70px;
    font-weight: 400;
    //font-family: monospace;
}

.wrapper .dynamic-txts_m {
    margin-left: 15px;
    height: 50px;
    line-height: 70px;
    overflow: hidden;
    font-family: monospace;
}

.dynamic-txts_m li {
    list-style: none;
    color: #fc6d6d;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide_m 12s steps(4) infinite, blink .5s;
}

.dynamic-txts_m li span {
    position: relative;
    //margin: 5px 0;
    line-height: 40px;
}

.dynamic-txts_m li span::after {
    content: "";
    position: absolute;
    left: 0;
    margin-top: 20px;
    height: 140%;
    width: 100%;
    background: #121212;
    border-left: 4px solid #fc6d6d;
    // width: 12ch;
    //animation: typing 3s steps(10) infinite;
    //white-space: nowrap;
    animation: typing_m 3s steps(10) infinite; //, blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing_m {
    40%,
    60% {
        left: calc(100% + 10px);
    }
    100% {
        left: 0;
    }
    // from {
    //     width: 0;
    // }
    // to {
    //     width: 100;
    // }
}

@keyframes slide_m {
    100% {
        top: -275px;
    }
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    // background-color: #0C9;
    // color: #FFF;
    border-radius: 50px;
    text-align: center;
    // box-shadow: 2px 2px 3px #999;
}